body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1a242e;
	color: #d4d4d4;
	margin: 0;
	padding: 0;
}

header {
	padding: 1.5rem;
	text-align: center;
}

.app-title {
	margin: 0;
	font-size: 2rem;
}

.section-title {
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.subtitle {
	margin-top: 0.5rem;
	font-size: 1rem;
	color: #d1d5db;
}

.container {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 1rem;
}

/* Login page */
.loginbox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem 0;
	padding: 0.2rem;
}

.loginrow button {
	margin: 0 auto;
}

.error-message {
	color: red;
	margin: 0.5rem 0;
	text-align: center;
	display: block;
}

/* Buttons */
button {
	padding: 0.6rem 1.2rem;
	font-size: 0.95rem;
	color: white;
	border-radius: 4px;
	border-width: 2px;
	border-color: #d1d5db;
	background-color: #0054a9;
	cursor: pointer;
}

button:hover {
	background-color: #00458b;
}

button:active {
	transform: scale(0.95)
}

.btn-secondary {
	background-color: #093561;
}

.btn-secondary:hover {
	background-color: #072543;
}

#create-set {
	margin-bottom: 2rem;
	text-align: center;
}

.logout {
	margin-top: 3rem;
	text-align: center;
}

/* Flashcard set table*/
.empty-state {
    font-style: italic;
    color: #6b7280;
	margin-left: 1rem;
}

.sets-table {
	background-color: #093561;
	width: 100%;
	border-collapse: separate;
	border-radius: 6px;
	overflow: hidden;
}

.sets-table thead {
	background-color: #082e54;
}

.sets-table th, .sets-table td {
	padding: 0.75rem 1rem;
	text-align: left;
	font-size: 0.95rem;
}

.sets-table tbody tr:hover {
    background-color: #0b427a;
}

/* Links */
.link {
    text-decoration: none;
    font-weight: 500;
	color: #2563eb;
}

.link:hover {
	text-decoration: underline;
}

/* Flashcard flipping */
.card-deck {
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 200px;
	margin: 0 auto;
}

.card-container {
	display: none;
	width: 100%;
	height: 100%;
	perspective: 1000px;
}

.card-container.active {
	display: block;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.3s linear;
	transform-style: preserve-3d;
	cursor: pointer;
}

.card.is-flipped {
	transform: rotateY(180deg);
}

.card-face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 1px solid #ddd;
	background-color: blue;
	text-align: center;
}

.card-back {
	transform: rotateY(180deg);
}

.navigation {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 1rem;
}