{% extends 'base.html' %}

{% block head %}
<title>New Set</title>
{% endblock %}

{% block body %}
<div style="padding: 1rem;">
	<h1>Build a flashcard set</h1>
	<form action="/cancel_set" method="GET">
		<button class="btn-secondary" type="submit">Cancel</button>
	</form>
</div>
<form action="/add_element" method="POST" autocomplete="off">
	<div class="setinfo">
		<div>
			<label for="set_title">Title:</label>
			<input type="text" name="set_title" id="set_title" value="{{set_title}}">
		</div>
		<div>
			<label for="set_desc">Description:</label>
			<input type="text" name="set_desc" id="set_desc" value="{{set_desc}}">
		</div>
	</div>

	<table class="cards-table" id="flashcards">
		<thead>
			<tr>
				<th>Term</th>
				<th>Definition</th>
			</tr>
		</thead>
		<tbody>
			{% if cards | length > 0 %}
			{% for card in cards %}
			<tr>
				<td>{{card.front_text}}</td>
				<td>{{card.back_text}}</td>
				<td class="card-action">
					<a class="link" href="/delete_card/{{card.id}}">Delete</a>
				</td>
			</tr>
			{% endfor %}
			{% endif %}
			<tr class="add-cards">
				<td>
					<textarea name="front_text" placeholder="Term"></textarea>
				</td>
				<td>
					<textarea name="back_text" placeholder="Definition"></textarea>
				</td>
				<td class="card-action">
					<button type="submit">Add Card</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>
<form action="/app" method="GET">
	<button type="submit">Create Set</button>
</form>
{% endblock %}